@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
	background: black;
}
nav:after{
	content: '';
	clear: both;
	display: table;
}
.logo {
   
   
    float: left;
	color: white;
	font-size: 30px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 30px;
    
}
.logo img{
	width: 160px;
    float: left;
	line-height: 70px;
	padding-left: 30px;
    
}
	
	
	
	

nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
	
}
nav ul li{
	float: left;
	display: inline-block;
	background: black;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 20px; 
	padding: 8px 15px;
}
nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
	            0 0 5px #66ffff;
}
nav ul ul li a:hover{
	color: cyan;
	box-shadow: none;
}
nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
}
nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li{
	position: relative;
	margin: 0px;
	width: 120px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
	line-height: 50px;
}
.active,.icon, input{
	display: none;
}
@media all and (max-width: 968px) {
	nav ul{
		margin-right: 0px;
		float: left;
	}
	 .logo{
		padding-left: 30px;
		width: 100%;
	}
	.logo img{
		padding-left: 30px;
		width: 60%;
	}
	nav ul li, nav ul ul li{
		display: block;
		width: 100%;
	}
	nav ul ul{
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		
		opacity: 1;
		visibility: visible;
	}
	nav ul ul li{
		border-bottom: 0px;
	}
	nav ul ul a{
		padding-left: 40px;
		
	}
	.active{
		display: block;
		color: white;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}
	.active:hover{
		color: cyan;
	}
	.icon{
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 25px;
		cursor: pointer;
	}
	nav ul li a:hover{
		box-shadow: none;
		
	}

.active + a, ul{
	display: none;
}
[id^=btn]:checked + ul{
	display: block;
}
	}


html {
    scroll-behavior: smooth;
}
/* navigation */


#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #ffe4c4), url("banner6.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text {
    text-align: center;
    color: bisque;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
}
.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 180px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: bisque;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}
@media screen and (max-width: 1000px) {
    .banner-text h1 {
        font-size: 44px;
		
    }
	.banner-btn{
		margin: auto;
		width: auto;
	}
	.banner-btn a span {
		width: auto;
	}
	.banner-btn a{
		width: auto;
		
	}
    
}

#monuments {
    width: 100%;
    padding: 40px 0;
    background: black;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1 {
    font-size: 50px;
	color: burlywood;
	font-family: 'alexa-std';
}


.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}
.text {
    color: gold;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
	
}
#sevenwonders {
    width: 100%;
    padding: 70px 0;
    background: bisque;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h2 {
    font-size: 50px;
	color: black;
	font-family: 'alexa-std';
	
}
hr{
	background: black;
	border: 1px solid black;
	
}

#travelguide {
    width: 100%;
    padding: 70px 0;
    background: bisque;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h2 {
    font-size: 50px;
	color: black;
	font-family: 'alexa-std';
	
}
hr{
	background: black;
	border: 1px solid black;
	
}
.gototop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}
.site-footer{
		background-color: black;
		padding: 45px 0 20px;
		font-size: 18px;
		line-height: 24px;
		color: white;
		border-radius: 12px;
		box-shadow: 0 10px 20px;
		
		
	}
	.site-footer hr{
		border-top-color: burlywood;
		opacity: 0.5;
	}
	.site-footer hr.small{
		margin: 20px 0;
	}
	.site-footer h6{
		color: burlywood;
		font-size: 22px;
		text-transform: uppercase;
		margin-top: 5px;
		letter-spacing: 2px;
	}
	.site-footer a{
		color: white;
	}
	.site-footer a:hover{
		color: cyan;
		text-decoration: none;
	}
	.footer-links{
		padding: left;
		list-style: none;
	}
	
	.footer-links a{
		color: white;
		font-size: 18px;
	}
	
	.footer-links a:hover,
	.footer-links a:active,
	.footer-links a:focus{
		color: cyan;
		text-decoration: none;
	}
	.footer-links p{
		color: white;
		font-size: 18px;
	}
	.footer-links p:hover,
	.footer-links p:active,
	.footer-links p:focus{
		color: cyan;
		text-decoration: none;
	}
	
	
	.site-footer .socail-icons{
		text-align: right;
	}
	.site-footer .socail-icons a{
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-left: 6px;
		margin-right: 0;
		border-radius: 100%;
		background-color: #33353d;
	}
	.copyright-text{
		margin: 0;
	}
	@media (max-width: 991px) {
		.site-footer [class^="col-"] {
			margin-bottom: 30px;
		}
	}
	@media (max-width: 767px){
		.site-footer{
			padding-bottom: 0;
		}
		.site-footer .copyright-text,
		.site-footer .social-icons {
			text-align: center;
		}
		
	}
	.social-icons{
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	
	.social-icons a{
		background-color: #eceeef;
		color: #818a91;
		font-size: 22px;
		display: inline-block;
		line-height: 48px;
		width: 48px;
		height: 48px;
		text-align: center;
		margin-right: 8px;
		border-radius: 100%;
		-webkit-transition: all 0.2 linear;
		transition: all 0.2 linear;
	}
	.social-icons a:active,
	.social-icons a:hover,
	.social-icons a:focus{
		color: white;
		background-color: #29aafe;
	}
	.social-icons a.facebook:hover{
		background-color: #3b5998;
	}
	.social-icons a.twitter:hover{
		background-color: #00aced;
	}
	.social-icons a.instagram:hover{
		background-color: #EA4CD0;
	}
	.social-icons a.whatsapp:hover{
		background-color: #1BEC4D;
	}
	.social-icons a.gmail:hover{
		background-color: #D82B2E;
	}

			
	






